body {
	background-color:blue;
}
.bloco {
	border:5px solid yellow;
	padding:25px;
	margin:10px;
	width:480px;
}

.online {
	background-color:green;
	color:black;
}

.offline {
	background-color:red;
	color:black;
}

.btn-personalizado {
	background-color:lightgray;
	color:black;
}